/* BASE STYLES ....................*/

* {
    font-family: "Roboto", sans-serif;
}

body {
	background: #f3f3f3;
}

/* CONTENT STYLES .................*/

.main-content {
	margin-top: 5%;
}

.refresh-btn {
	margin-top: 5%; 
	margin-right: 15%;
}

.refresh-btn a {
	color: #FFB600;
}

.refresh-btn a:hover {
	color: #3B3A38; 
}

#header {
	color: #3B3A38;
	font-size: 50px;
	opacity: 1;
	display: inline-block;
}

#subHeader {
	color: #FFB600;
	font-size: 25px;
	opacity: 1;
}

.nested-header-column {
	margin-top: 2%;
}

p {
	font-size: 16px;
  	line-height: 30px;
  	margin: 8px 0;
  	color: #444444;
}

.add-space {
	margin-top: 65px;
}

.footer {
	text-align: center;
	margin-top: 20px;
}

.footer-text a {
	color: #FFB600;
}

.footer-text a:hover {
	color: #3B3A38; 
}


.align-text {
	margin-top: 2%;
}

.align-text a {
	color: #3B3A38;
}

.align-text a:hover {
	color: #FFB600; 
}

.align-text a:visited {
	color: #3B3A38;
}

@media (max-width: 991px){	

	#subHeader {
		line-height: 30px;
	}
}